<ul>
  <li><a href="/javascript/jquery">JQuery</a></li>
  <li><a href="/javascript/jquery_ui">JQuery UI</a></li>
  <li><a href="/javascript/backbone">Backbone.js</a></li>
  <li><a href="/javascript/node">Node.js</a></li>
</ul>