<div id="menu">
  <ul>
    <% for page in Page.roots %>
        <li <%= "class=active" if current_page.root == page %> >
          <%= render 'menu_item', page: page %>
        </li>
    <% end %>
  </ul>
</div>