<div id="submenu">
  <ul>
    <% pages.each do |page, children| %>
        <li>
          <%= link_to page.name, page %>
          <%= render 'submenu_children', pages: children if children.present? %>
        </li>
    <% end %>
  </ul>
</div>